.about {
  margin-bottom: 80px;
}
.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}
/* .about .back .container{
  padding: 0px;
} */
.about .container img{
  height: 100%;
}
.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}
.about form {
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  /* padding: 20px 0px; */

}
.about form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}
form select{
  font-size: 17px;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}
form select option{
  font-size: 17px;
  color: black;
}
.about form span {
  font-size: 15px;
  color: grey;
}
input::placeholder {
  font-size: 17px;
  color: black;
}
.about form .box {
  /* padding-left: 20%; */
  padding: 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  width: 60%;/* width: fit-content; */
}
form .box:nth-child(1) {
  border-left: none;
}
form h4 {
  font-weight: 500;
}
form button{
  padding: 15px;
}
@media screen and (max-width: 768px) {
  .about .container {
    flex-direction: column;
    /* height: fit-content; */
  }
  .about p {
    padding: 0;
  }
  .about .container img {
    margin-top: 50px;
  }
}
